[2018-11-24 17:08] codependent opened #25 "Support loading configuration from Kubernetes configmaps and secrets"
The only thing that prevents my organization from starting using micronaut is property loading. Currently our Spring Boot apps load their properties from k8s configmaps and secrets using spring cloud config kubernetes: https://github.com/spring-cloud/spring-cloud-kubernetes

Could this integration be added to Micronaut?

[2019-03-06 01:39] paulvi opened #17 "Question: GraalVM and Kubernetes"
What is relation is to be between GraalVM and Kubernetes?

Graal is JVM based with runtime images just jar file.
While Kubernetes has been container managing runtime, starting as docker alternative.

It seems to me that they are offerings from different vendors: Oraclle and Google,
and maybe will not always work well together, if backing companies relation deteriorates again.

[2019-03-06 09:18] sdelamo opened #18 "Deployment Creds"
@graemerocher Could you add bintray and snapshot deployment creds to travis?

I have added `GIT_EMAIL`, `GIT_NAME` and `GH_TOKEN`

[2019-03-06 09:23] sdelamo commented on #17
Thanks for the question @paulvi

However, I encourage you to post this question to our Gitter community.

https://gitter.im/micronautfw

see: https://micronaut.io/faq.html

I am going to close this issue since we aim to keep Github issues just for bugs, enhancement requests etc

[2019-03-06 09:23] #17 closed

[2019-03-06 09:24] sdelamo opened #19 "Decide about maven coordinates group"
@alvarosanchez I would encourage us to discuss the group naming conventions in the next eng. meeting and then revert the group name change:

https://github.com/micronaut-projects/micronaut-kubernetes/commit/88c534c034eb59f43b04c148bd9a55fd70966c5d

[2019-03-12 13:25] alvarosanchez commented on #18
Fixed via d14e20e6e807363512d3adeb0150c425ee9ac49d

[2019-03-12 13:25] #18 closed

[2019-03-25 10:47] #19 closed

[2019-03-26 10:04] alvarosanchez opened #20 "Use "kind" instead of the custom Minikube setup"
https://www.loodse.com/blog/2019-03-12-running-kubernetes-in-the-ci-pipeline-/

[2019-05-05 14:54] kamilgregorczyk opened #22 "Guide link in README is not working (404)"

[2019-05-15 18:34] sukruthakittur opened #23 "Add support for ConfigMaps in Kubernetes"
Would like the support for configmaps in Kubernetes, to be integrated with Micronaut.

[2019-06-14 15:52] alvarosanchez commented on #23
Oops, I might have missed this issue. Aynway, the support is in `master` now.

[2019-06-14 15:52] #23 closed

[2019-06-14 15:53] alvarosanchez commented on #22
The "stable" documentation link isn't available yet because this project is still under development and no release has been made yet.

The snapshot documentation link does work.

[2019-06-14 15:53] #22 closed

[2019-06-14 15:54] alvarosanchez opened #24 "Add support for Secrets"

[2019-07-03 09:42] alvarosanchez commented on #24
Done.

[2019-07-03 09:42] #24 closed

[2019-07-03 12:38] alvarosanchez commented on #20
Done.

[2019-07-03 12:38] #20 closed

[2019-07-16 15:52] alvarosanchez commented on #25
This is already implemented in the latest snapshot:

https://micronaut-projects.github.io/micronaut-kubernetes/snapshot/guide/

[2019-07-16 15:52] #25 closed

[2019-07-17 12:56] codependent commented on #25
Great!! Thanks guys

[2019-07-19 12:13] alvarosanchez opened #26 "Add configuration option to include/exclude config map and secret names"
Proposal: in `bootstrap.yml`:

[code]

[2019-07-19 12:17] alvarosanchez opened #27 "Support reading secrets from mounted volumes"

[2019-07-19 12:18] alvarosanchez opened #28 "Support defining labels to match config maps / secrets"
Proposal: in `bootstrap.yml`:

[code]

[2019-07-19 12:20] alvarosanchez opened #29 "Add a configuration option to enable/disable secret support"
It should be disabled by default, and would be possible to enable with:

[code]

[2019-07-19 12:22] alvarosanchez opened #30 "Create a kubernetes feature profile"
It should add this dependency, `management` for `livenessProbe` and `readinessProbe`, and include a `Service` deployment YAML.

[2019-07-19 12:22] alvarosanchez opened #31 "Create a KubernetesHealthIndicator"
To check cluster basics, like API communication.

[2019-07-19 12:35] alvarosanchez opened #32 "Read the namespace from the service account secret"
By default, mounted at `/var/run/secrets/kubernetes.io/serviceaccount/namespace`

[2019-07-22 17:13] #29 closed

[2019-07-23 11:18] alvarosanchez opened #33 "Cleanup kubernetes.client.* configuration properties"
To remove unwanted properties like zones etc.

[2019-07-23 11:58] #26 closed

[2019-07-24 13:57] #28 closed

[2019-07-26 10:31] #31 closed

[2019-07-26 13:05] #27 closed

[2019-07-29 12:33] #32 closed

[2019-07-29 14:43] #33 closed

[2019-07-30 06:53] #30 closed

[2019-08-16 12:26] grimmjo opened #40 "Error during application startup - UnknownHostException: None"
The following exception is thrown during the application startup.

[code]

The app is build with the standard jib image `gcr.io/distroless/java:latest` and running on GKE with kubernetes version `1.12.8-gke.10`

I'll try to provide an example application with that bug.

[2019-08-22 11:47] alvarosanchez commented on #40
Yes please, a sample app would be really helpful.

In the meantime, [enable debug logging](https://micronaut-projects.github.io/micronaut-kubernetes/latest/guide/#logging) and paste here the full output.

[2019-08-27 10:30] grimmjo commented on #40
Looks like I found the problem. Some of my helm deployments use `clusterIP: None`.
The object mapper can not resolve this to an valid InetAddress.

[2019-08-27 11:17] #40 closed

[2019-08-27 11:18] alvarosanchez commented on #40
Please try the latest snapshot once the build finishes and let me know how it goes.

[2019-08-28 22:39] sukruthakittur opened #42 "Micronaut - Kubernetes plugin not working for https API endpoints"
While trying to access kubernetes volume mounted secrets through micronaut application with the below config, I get an error. Do I have the right config?

[code]

`Error while trying to list all Kubernetes Services in the namespace [default] io.micronaut.http.client.exceptions.HttpClientException: Connect error:https`

[2019-08-29 08:15] alvarosanchez commented on #42
`secure` should be set to `true`. Please try again with that.

[2019-08-29 08:24] alvarosanchez opened #43 "Document how to write tests without deploying to a Kubernetes cluster"

[2019-08-29 20:49] sukruthakittur commented on #43
This would be super helpful!

[2019-08-29 20:53] sukruthakittur commented on #42
@alvarosanchez  I got it working, thank you. I have another question.

I am trying to provide secrets as property placeholders. For instance with mongobd uri, I want the username and password coming from secrets on a volume. Is this possible? For instance with the below kubernetes config, the placeholder I could provide was ${kubernetes.client.secrets.paths}, but I needed access to the nested secr

[2019-08-30 09:27] alvarosanchez commented on #42
I'm closing this since a) it's not an issue; and b) it has diverted from the original question to something different.

Please post your usage questions on stackoverflow. I'm monitoring the `micronaut` tag, and will provide an answer there.

[2019-08-30 09:27] #42 closed

[2019-09-30 13:12] welovelain commented on #40
Any chances we will see the fix on maven central soon?

[2019-09-30 13:29] alvarosanchez commented on #40
We could potentially release 1.0.2

[2019-10-09 09:08] alvarosanchez opened #46 "Add support for Dekorate"
https://github.com/dekorateio/dekorate

[2019-10-18 06:29] alvarosanchez opened #49 "Support includes/excludes/labels filters for service discovery"

[2019-10-18 11:23] #49 closed

[2019-11-07 17:23] jbrisbin opened #53 "Using Micronaut as an Operator framework"
Although Quarkus and CDI is a great option for building operators on Kubernetes, I would really like to see an Operator framework for Micronaut that would enable a developer to implement an Operator to control their application(s) using the same framework they build their service layer with.

To be clear: this is not proposing a framework to allow applications to integrate with Kubernetes like wit

[2019-11-11 15:03] graemerocher commented on #53
Hi Jon! Good to hear from you! Sounds like you have some great ideas in this area. Would you be willing to contribute? 😉

[2019-11-14 00:23] jbrisbin commented on #53
Hi Graeme! I was hoping you'd ask. ;) Not sure on the timeline as it would be more exploratory at first, just to validate some of the assumptions. But if that works out, I'd be happy to contribute.

[2019-11-14 17:02] graemerocher commented on #53
Sounds good 👍

[2019-11-20 14:26] jbrisbin commented on #53
Started looking at this last night. We decided to just expose the Fabric8 models directly in our own work since it seems unnecessary to duplicate all those models and copy them back-and-forth. It might be possible to exchange the client with another implementation, but AFAIK the not-yet-stable Kubernetes client doesn't support OpenShift, so it's really only Fabric8 to choose from for maximum compa

[2019-11-20 14:53] jbrisbin commented on #53
Another option is to "hide" Fabric8 and communicate to user code via annotated POJOs that map e.g. `@CustomResource` and `@ObjectReference` to their counterparts in the Fabric8 models. This is more flexible at the cost of greater complexity. That might increase testability as well.

[2019-11-20 15:20] graemerocher commented on #53
Not sure I fully understand all the problems but I assume you are referring to the Fabric8 kubernetes client. Note that there is also a official Java kubernetes client that includes models https://github.com/kubernetes-client/java/tree/master/kubernetes/src/main/java/io/kubernetes/client/openapi/models

[2019-11-20 15:46] jbrisbin commented on #53
TL;DR in order to use custom resources with Fabric8 you need to extend and expose Fabric8-only models in your code: https://github.com/instana/instana-agent-operator/blob/master/src/main/java/com/instana/operator/customresource/InstanaAgent.java

In order to get away from a strong tie to the Fabric8 client and models, we'd either need to genericize the API or use annotations and POJOs to allow for

[2019-11-25 07:00] alvarosanchez commented on #53
Hi there, sorry that I join late to this conversation, been on leave for a while.

Micronaut has its own Kubernetes client, as one of the design principles of Micronaut is to have (almost) zero dependencies. The existing client only covers a small surface of the Kubernetes API (the one needed to implement service discovery and distributed configuration). Note that it does support watching config m

[2019-11-25 14:35] jbrisbin commented on #53
@alvarosanchez I have been thinking about this a little more and I see a pretty huge opportunity to make writing Operators easier (which is what Quarkus will do for certain). There are specifics for each of the following categories that bear their own discussion, but here are the top-level things I see:

1) Leader election. It's critical to implement leader election in a reusable way and the first

[2019-11-26 20:18] jbrisbin commented on #53
A good place to see what all is possible/needed in an Operator SDK is to look at the golang official SDK sample controller which includes almost all boilerplate and very little actual logic:

http://github.com/kubernetes/sample-controller/blob/master/controller.go

[2019-12-11 09:20] alvarosanchez commented on #53
@jbrisbin sorry for a delay in my response. Due to holidays I haven't been able to discuss this internally until today.

We agree that your ideas are definitely useful, and would like to discuss how can we help you in contributing them. I will reach out to you by email to schedule a call.

[2019-12-19 13:27] Xaseron opened #72 "Enable config option for KubernetesConfigMapWatcher"
We have a CI/CD Jenkins Pipeline that runs the build and test tasks on an OpenShift pod. This pod does not have the access rights to list the configMaps. It would be great to disable the ConfigMapWatcher.
So we can get rid off these exceptions in the Unit Tests:
[code]

[2019-12-19 14:35] #72 closed

[2020-01-06 12:22] Xaseron commented on #72
Thank you for your fast fix for this issue. I've tested it and i had to put this configuration into the bootstrap.yml. If i put the config in the application.yml then i still get on exception before the application.yml gets parsed. Maybe this should be added to the documentation?

[2020-01-07 08:32] alvarosanchez commented on #72
Sure! PRs welcomed.

[2020-02-28 17:30] koebbingd opened #95 "Evaluate /var/run/secrets/kubernetes.io/serviceaccount/namespace to get default namespace if none is configured"
At the moment you have to configure which namespace to use. If none is configured "default" is assumed.
The namespace the pod is deployed in is available under /var/run/secrets/kubernetes.io/serviceaccount.

What about using that namespace as default if none is given -> less configuration (at least in my case).

I'd like to contribute that. How can I do it?

[2020-03-02 08:09] alvarosanchez commented on #95
What you're asking for is already implemented, and documented:

![image](https://user-images.githubusercontent.com/153880/75657008-8ae5f500-5c65-11ea-935a-c3a0c12750d3.png)

[2020-03-02 08:09] #95 closed

[2020-03-02 12:39] koebbingd commented on #95
Now that I had a second look I wonder how I could have overlooked it!

[2020-03-16 08:02] alvarosanchez opened #100 "Remove assumption on cluster domain name"
Not all Kubernetes clusters use `cluster.local` as their domain.

At least in my cluster `kubernetes.default.svc` is one of the Subject Alternate Names in the TLS certificate.

For safety, you can check by executing the following from a container inside the cluster which has openssl:

[code]

[2020-03-16 08:02] #100 closed

[2020-05-05 07:26] miguelaferreira commented on #53
Hi everyone. I'm very interested in this issue and how will micronaut move forward in this space.

After using the official k8s java library to build a k8s operator, I'm moving towards a more light-weight approach based on watching for changes on resources using the micronaut k8s client. For my use case I need to watch secrets, be able to create and update secrets, configmaps and pods. I've been e

[2020-05-05 07:27] graemerocher commented on #53
Contributions welcome!

[2020-05-05 07:28] miguelaferreira commented on #53
Great to hear that!

My main challenge at the moment is that I haven't managed to configure the k8s client using a kubeconfig file. Which means I can only test in the cluster. I've looked at a few implementations that parse the kubeconfig file and set up the client, but I was wondering if you guys have a way to do this that would not involve writing lots of code.

[2020-05-05 07:48] alvarosanchez commented on #53
No, we haven't looked at parsing the kubeconfig file. However, for testing you can simply use `kubectl proxy` and point your client to `localhost:8001`.

That being said, I doubt that our current built-from-scratch client is a viable solution going forward, since it lacks many features like kubeconfig parsing, but also SSL certs configuration, etc etc. Not to mention that the (ridiculously large)

[2020-05-05 07:51] miguelaferreira commented on #53
Thanks for the tip @alvarosanchez.

I completely agree with your point, I only considered extending the micronaut client because my use-case uses a very small subset of the k8s API. After reading this thread I have a better understanding of the limitations in the approach, and I will think a bit more about how would it make sense to me to move forward.

[2020-05-18 17:44] volnei opened #104 "Changes from Micronaut 1.x vs 2.x on KubernetesServiceDiscovery must be documented"
In version 1.x none configuration are required to put Micronaut work on Kubernetes, in 2.x it need some configs to work.

[2020-05-18 18:23] volnei opened #105 "Micronaut-kubernetes project depends of ServiceStartedEvent the is not longer available on core."
Hi guys,

I'm frustrated with the new "way" to Micronaut support service discovery on k8s, in the 1.x version it's much more easy.

Apart of this, it is not working since the project micronaut-kubernetes depends of core class io.micronaut.discovery.event.ServiceStartedEvent that is no longer available.

I suppose that this problem is caused by the follow change that is not applied to the micronaut

[2020-06-06 07:48] bugbuilder opened #107 "Graalvm is not supported out of the box"
To make possible to use micronaut-kubernetes with graalvm is necessary to add the following typehint
[code]
it would be great to add this settings to reflection-config.json to make it easier to use.

[2020-06-06 15:32] ilopmar commented on #107
The caffeine classes are already defined in micronaut-core for [master](https://github.com/micronaut-projects/micronaut-core/blob/master/core/src/main/resources/META-INF/native-image/io.micronaut.core/cache-caffeiene-graal/reflection-config.json) and [1.3.x](https://github.com/micronaut-projects/micronaut-core/blob/1.3.x/core/src/main/resources/META-INF/native-image/io.micronaut.core/cache-caffeie

[2020-06-06 15:34] bugbuilder commented on #107
Sandy doesn't works

[2020-06-06 15:36] bugbuilder commented on #107
Or maybe is a issue when you use kubernetes and jwt modules, because that was I did.

[2020-06-06 15:38] ilopmar commented on #107
Those `io.micronaut.caffeine` classes were included after 1.3.5 was released. If you try with Micronaut 1.3.6 (which was released yesterday) you won't need to define those 2.
We will add all the missing kubernetes classes to the graalvm configuration.

[2020-06-06 15:56] bugbuilder commented on #107
Yep the problem with caffeine was in 1.3.5. In 1.3.6 is working, my bad I didn't check the last version, but this fixing it doesn't listed in the [milestone](https://github.com/micronaut-projects/micronaut-core/milestone/47?closed=1) because of that is a little tricky to check the new fixes in new version, implement a Changelog it would be great.

Thanks for add the missing classes.

[2020-06-06 16:18] ilopmar commented on #107
We're working on improving our release notes to automatically include everything. In some modules we've done the change and we plan to do it in the rest of the modules soon. Thanks for your feedback :-)

[2020-06-09 08:40] #107 closed

[2020-06-09 13:22] alvarosanchez opened #112 "Upgrade to Micronaut 1.3"

[2020-06-09 14:07] alvarosanchez commented on #112
Fixed via 1026cfb90baee821edbe01f5033988e60808be6b

[2020-06-09 14:07] #112 closed

[2020-06-09 15:47] #105 closed

[2020-06-24 14:34] piomin commented on #46
I think it would be very nice addition

[2020-06-30 07:58] vroyer commented on #53
We just released a Kubernetes operator for [Elassandra](https://github.com/strapdata/elassandra) based on micronaut on https://github.com/strapdata/elassandra-operator. It uses the[ java kubernetes client](https://github.com/kubernetes-client/java) to watch k8s ressources, and it can run in the cluster, or outside, it detects the micronaut env to properly **k8s** configure the k8s client, as shown

[2020-07-04 07:56] saribmahmood55 opened #128 "Knative Service Discovery"
Does anyone know how to use kubernetes service discovery with Knative. I want to use the kubernetes service discovery with micronaut here.

https://micronaut-projects.github.io/micronaut-kubernetes/2.0.0/guide/index.html

But as you know knative deploys the service and deployment with just one file, and the service name is auto generated. So won't be able to use @client('service-name') in the Decl

[2020-07-07 15:16] Xaseron opened #133 "Helm Support"
[Helm](https://github.com/helm/helm) is the de-facto standard for running and managing applications with Kubernetes. We rely heavily on it and we put our `application.yaml` inside a configMap.
For each feature branch we deployed our application into the same namespace. Therefore there a lot of configMaps with `application.yaml`s.
e.g.:`13:50:45.410 [main] INFO  i.m.d.c.c.DistributedPropertySourceL

[2020-07-07 15:19] graemerocher commented on #133
seems like a good idea, would you consider submitting a PR?

[2020-07-07 18:57] Xaseron commented on #133
Yes, i will do it.
I suggest a general approach that is not specific to Helm. e.g.
[code]

[2020-07-08 08:33] graemerocher commented on #133
Seems reasonable to me

[2020-07-08 08:41] alvarosanchez commented on #133
@Xaseron let's make it:

[code]

Let me know whether you have questions when implementing it.

[2020-08-18 23:49] viniciusccarvalho opened #161 "GCP Tracing issues on latest version"
### Steps to Reproduce

1. I've created a new project using launch. Added following features: config-kubernetes, gcp-cloud-trace, jib, kubernetes.

Sample build.gradle
[code]

Added a single controller:

[code]

When the application boots an exception is thrown and the application fails to start
[code]

### Expected Behaviour

App should start :)

What I find really strange is that looks like `Bra

[2020-09-01 01:57] viniciusccarvalho opened #173 "Feature Request: Flexible kubernetes client authentication methods"
The current method of authenticating with the kubernetes API via the secret mounted on `/var/run/secrets/kubernetes.io/serviceaccount/token` makes it very hard to test, or use the kubernetes client low level client outside of a k8s environment. The fabric8 client has a flexible way to provide the token, the ca mount taking the least precedence:

https://github.com/fabric8io/kubernetes-client#confi

[2020-09-02 11:20] graemerocher commented on #161
hi @viniciusccarvalho

@pgressa is going to be looking at this issue soon, this is still valid with 2.0.1 as far as you know?

[2020-09-10 07:28] pgressa commented on #46
Support for 1.0.1 for starter-project https://github.com/micronaut-projects/micronaut-starter/pull/446

[2020-09-17 08:00] jaksah opened #181 "Feature Request: Service Discovery across multiple namespaces"
From my understanding the discovery client only discovers services within the _single_ namespace that's configured, either by default value or explicitly setting the config. We have a use case where we would need service discovery across multiple namespaces. For example:

`FooService` named `foo` running in namespace `A`
`BarService` named `bar` running in namespace `A`
`BazService` named `baz` ru

[2020-09-20 19:36] pgressa opened #183 "Bug: Failed to inject value for parameter [binderRegistry]"
### Task List

- [x] Steps to reproduce provided
- [x] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [x] Full description of the issue provided (see below)

### Steps to Reproduce

1. Created project using launch:
[code]

2. Created Controller:
[code]

And my-service client:
[code]

### Expected Behaviour

The application starts up.

### Actual Beh

[2020-09-21 09:05] pgressa commented on #161
hi @viniciusccarvalho, I reproduced the error but I wasn't able to reproduce the correct behaviour when `micronaut-kubernetes-discovery-client` was removed, so please double check https://github.com/pgressa/micronaut-kubernetes-161 whether the state of the project is same like in your project.

Anyway, those errors can be addressed by appending dependecies:
[code]

These dependencies are basically

[2020-09-21 10:49] pgressa commented on #161
@viniciusccarvalho could you please review https://github.com/pgressa/micronaut-kubernetes-161 so I can reproduce the issue? Thanks!

[2020-09-21 17:48] viniciusccarvalho commented on #161
Thank you for looking into this. I'll check tonight with my project and will reply here. Cheers

[2020-09-23 10:52] alvarosanchez commented on #181
It shouldn't be too difficult to change https://github.com/micronaut-projects/micronaut-kubernetes/blob/master/kubernetes-discovery-client/src/main/java/io/micronaut/kubernetes/discovery/KubernetesDiscoveryClient.java#L84 to search in all namespaces. PRs welcomed

[2020-09-23 11:06] eahrold opened #184 "Noisy Logging on Kubernetes RDS mysql client"
### Task List

- [ ] Steps to reproduce provided
- [ ] Stacktrace (if present) provided
- [ ] Example that reproduces the problem uploaded to Github
- [ ] Full description of the issue provided (see below)

### Expected Behaviour

Clients that do not expose anything in a running pod should not spam logs with Error messages

### Actual Behaviour

KubernetesDiscoveryClient is spamming log with error

[2020-09-23 13:54] luckyswede opened #185 "[KubernetesDiscoveryClient] Support cluster-ip as service-instance"
Hi,
In Micronaut 2.0.x the Kubernetes discovery get pod ip's in the service-instance list that is returned from the discovery-client. In one of our cases where we have a few thousand requests per second to another service we get problems when pods are recycled, because the pod list is apparently not up to date.
On the other hand, with Micronaut 1.2.x that we also run, which uses cluster-ip's, we d

[2020-09-23 14:04] luckyswede opened #186 "[KubernetesDiscoveryClient] Kubernetes api server called on each client request"
Every client request triggers a call to the KubernetesDiscoveryClient.getInstances which in turn queries the k8s api to get a list of endpoints.
That behavior causes performance and robustness degradation. The service-instances can be cached by using micronaut-caching, but that seems like a bad solution when pod-ip's are used.
An option would be for the discovery-client to listen to pod state chan

[2020-09-23 14:36] graemerocher commented on #186
Seems to me that caching would be absolutely fine what is lacking is simply the pod state change that clears out the cache?

[2020-09-23 14:37] graemerocher commented on #185
Probably doable

[2020-09-23 14:45] luckyswede commented on #186
True!

[2020-09-24 07:35] pgressa commented on #181
@alvarosanchez imho this could potentially end up in lot of 403s if micronaut service account is not authorised to get Services. But by default it could do the job, but I would extend it with namespace filtering, similarly like it's for service filtering. Anyway, in my opinion we should also distinguish service namespaces in the annotation liek `@Client('<namespace>.<service-name>')`.

[2020-09-24 08:03] alvarosanchez commented on #181
The 403s can also happen even for the default namespace. I expect someone wanting to call services across namespaces to understand it needs permissions. Hence, I wrote https://micronaut-projects.github.io/micronaut-kubernetes/latest/guide/#_kubernetes_api_authentication. It should be a matter of explaining it there.

Regarding namespace filtering, I see it problematic. The Kubernetes API lets you

[2020-09-24 08:51] pgressa commented on #181
Yeah, if we would make it like mandatory to define the namespace in the annotation to distinguish the target namespace, then the filtering is useless. 👍

[2020-09-24 08:57] alvarosanchez commented on #181
It doesn't need to be mandatory though. One could have `@Client("my-service")` (which would target the default namespace) and `@Client("my-ns#my-service")`

[2020-09-24 09:01] pgressa commented on #181
sure sure, that was my idea, I meant mandatory in case you want to discovery service from other then app configured namespace.

[2020-09-24 12:07] pgressa commented on #186
@luckyswede I'm starting working on this one and keeping in mind the https://github.com/micronaut-projects/micronaut-kubernetes/issues/185 as well.

[2020-09-24 16:47] alvarosanchez commented on #186
In Micronaut 1, the default discovery client would cache the service list during 30 seconds. In Micronaut 2, since `micronaut-cache` was spun-off core, you need to explicitly include `io.micronaut.cache:micronaut-cache-core` in your classpath to get the same behaviour.

That said, I agree that it will be just more efficient to use the watch endpoints of the Kubernetes API

[2020-09-24 17:07] alvarosanchez commented on #185
To be precise, what the current implementation uses is the `EndpointsSubset.addresses`. Quoting Kubernetes documentation:

The reason to not use the `Service.clusterIP` is consistency: all Micronaut service discovery implementations use Micronaut's load balancing capabilities.

So in this case, the issue is really an outdated service list, and therefore, implementing #186 by watching endpoints cha

[2020-09-24 18:11] luckyswede commented on #185
@alvarosanchez  We did not have caching enabled when we encountered the problem with unavailable pods in the service list. So from what I understand the discovery-client refreshed the service list on each request. One pod was unavailable nonetheless. Maybe the k8s api server state was not propagated fast enough, I dont know.
At the same time we had Micronaut 1.2.x-based apps that used the same ser

[2020-09-24 20:39] alvarosanchez commented on #185
If you really want to use the cluster IP, you can use the records created by `kube-dns`, eg:

[code]

[2020-09-25 06:07] graemerocher commented on #185
@alvarosanchez maybe worth documenting that somewhere if that is viable fix. @luckyswede does that work for you?

[2020-09-25 06:08] graemerocher commented on #185
also does that need to be in `${..}`?

[2020-09-25 06:33] luckyswede commented on #185
Yes, we're going for a similar solution, we've implemented a discovery-client that creates a k8s service-url from the service-id. It's more "plug-n-play", we dont have to change the client annotations or add config entries.

[2020-09-25 06:44] luckyswede commented on #185
@graemerocher a related question, what is the contract for `DiscoveryClient.getServiceIds`? Is it supposed to return all service-ids that it has "seen" in requests to `getInstances`? Or a list of all service-ids it supports (which is not possible if the service-instance is calculated from the service-id)?

[2020-09-25 07:03] alvarosanchez commented on #185
No, it doesn't. Given a service `my-service` in a namespace `my-namespace`, `my-service.my-namespace.svc.cluster.local` will be a DNS `A` record that will resolve to the service cluster IP.

[2020-09-25 07:40] jaksah commented on #181
How would using `#` as separator propagate to the client configuration? Lets say you would like to set the read timeout for the client
[code]
Thinking that `#` is considered a comment in `.yaml` and `.properties` files.

[2020-09-25 13:14] pgressa commented on #181
@jaksah we spoke about this with @alvarosanchez and at this moment we agreed that the namespace will be part of configuration like:
[code]

[2020-09-26 10:18] graemerocher opened #188 "Update to new discovery client group id and version"
Discovery client has been externalized and has a new group ID

https://github.com/micronaut-projects/micronaut-discovery-client/blob/master/build.gradle#L14

[2020-10-19 10:31] pgressa commented on #181
Closing addressed in https://github.com/micronaut-projects/micronaut-kubernetes/pull/191

[2020-10-19 10:31] #181 closed

[2020-10-19 10:31] pgressa commented on #161
@viniciusccarvalho any updates or can I close this one?

[2020-10-19 11:56] alvarosanchez commented on #46
Fixed by https://github.com/micronaut-projects/micronaut-starter/pull/446

[2020-10-19 11:56] #46 closed

[2020-10-19 22:14] viniciusccarvalho commented on #161
@pgressa Apologies on the long delay, I just tried that with the latest 2.1.1 and all seems to be working fine, updated the project and with kubernetes-discovery 2.0.0 and tracing enabled and it all seems to be fine, thank you for looking into this :)

[2020-10-19 22:14] #161 closed

[2020-11-06 09:32] alvarosanchez commented on #133
[This commit](https://github.com/micronaut-projects/micronaut-kubernetes/commit/17b2692443e520ae6bd37492629131eeffca48c8) should prevent stale bot from bothering us 😅

[2020-11-18 17:50] pontello opened #209 "k8s cold boot time super slow due too many ENV_VARS_USING_UNDESCORES"
Above is a quote from [official docs](https://docs.micronaut.io/latest/guide/index.html#propertySource) describing how env variables are treated. Even tough well documented there it took me a while to understand why my projects were taking longer than expected during boot time and a way to work it around.

If you deploy micro services in a K8s cluster you may have seen variables similar to bellow

[2020-11-19 07:35] graemerocher commented on #209
One idea could be to include such a property source as you have defined if the environment is `k8s`

[2020-11-19 12:37] alvarosanchez commented on #209
@pontello you made a good point and I think it's worth fixing it.

I see 2 options:

1. Include the property source in `micronaut-kubernetes`, and document the `Micronaut.build()` business.
2. Include the property source in `micronaut-core` and make the `k8s` env case in `DefaultEnvironment`

@graemerocher thoughts?

[2020-11-19 12:39] graemerocher commented on #209
I guess if it is included in core then we don't have to document the `Micronaut.build()` business which is better

[2020-11-19 12:43] alvarosanchez commented on #209
Correct, that was the idea, saving users from that so that `Micronaut.run()` simply works.

[2020-11-19 12:44] graemerocher opened #211 "Documentation includes many broken imports"
Currently linked docs including many:

[code]

For YAML files that doesn't exist

[2020-11-19 17:13] alvarosanchez commented on #209
@pontello since you are the author of that code, are you willing to contribute a PR with that property source to micronaut-core and conditionally configure it in `DefaultEnvironment`?

[2020-11-19 17:16] alvarosanchez commented on #211
I think this was an overlook when merging #191

[2020-11-19 17:31] pontello commented on #209
Unfortunately I can't @alvarosanchez, I am in the middle of a rush...

Please feel free to take it from here and don't worry about myself being the author...

Thanks

[2020-12-07 09:14] Xaseron commented on #133
@alvarosanchez when will be the next release?

[2020-12-09 10:19] alvarosanchez commented on #133
There should certainly be a new 2.2.0 release when #215 and #220 are done

[2020-12-15 19:21] amckee23 opened #231 "Micronaut fails to start if configmap is loaded with no data elements"
Spotted today on Micronaut 2.0.2 but by looking at the code its likely this issue is also on latest.  It looks like when an empty config map is loaded there is a missing null guard on configMapAsPropertySource within KubernetesUtils.java which leads to a null pointer exception on application startup.  Specifically:
 ```Map.Entry<String, String> entry = data.entrySet().iterator().next();```

### Ta

[2021-01-03 18:44] pgressa commented on #211
Addressed in https://github.com/micronaut-projects/micronaut-kubernetes/pull/238

[2021-01-03 19:00] pgressa commented on #231
https://github.com/micronaut-projects/micronaut-kubernetes/pull/239

[2021-01-03 19:10] pgressa commented on #185
addressed in https://github.com/micronaut-projects/micronaut-kubernetes/pull/215

[2021-01-04 10:09] pgressa commented on #188
addressed in https://github.com/micronaut-projects/micronaut-kubernetes/pull/240

[2021-01-07 10:00] #231 closed

[2021-01-08 15:14] #211 closed

[2021-01-20 09:20] #185 closed

[2021-02-01 09:10] #209 closed

[2021-02-05 09:22] #188 closed

[2021-02-11 19:24] pgressa commented on #133
2.2.0 is already out, closing this issue cc @Xaseron

[2021-02-11 19:24] #133 closed

[2021-02-11 19:27] pgressa opened #260 "Use official Kubernetes Java SDK client"
Currently we have our own simple implementation of K8s client. In order to implement more complex features (operator, informer, ..) we would have to extend the client in such spread that we would ended duplicating extensively used official k8s client. To not reinvent a wheel we will replace current implementation with official K8s java sdk.

[2021-02-18 12:11] ilopmar opened #263 "Fail to publish snapshots with new build plugins"
After upgrading to the internal build plugins 3.0.1 the snapshot publications fail with:

[code]

Log: https://github.com/micronaut-projects/micronaut-kubernetes/runs/1926614709?check_suite_focus=true#step:8:27

[2021-02-19 09:25] #263 closed

[2021-02-22 15:14] pgressa opened #267 "Test k8s 1.20"
Extend test suite by K8s 1.20

[2021-02-26 09:14] pgressa opened #270 "Add reactive support to K8s official client"
Add support for RxJava to official k8s client.

[2021-02-26 09:35] #260 closed

[2021-03-08 17:30] pgressa opened #278 "Add BOM"
Add bom

[2021-03-16 12:10] StephanePaulus opened #280 "Add support to load configmaps when mounted as a volume. Support hot reloading for mounted volume configmaps and secrets"
The documentation says that this library supports reading configmaps from mounted volumes. I have not been able to find a way to make it work nor have I seen the code that would make this possible.

Also the library only supports watching for changes of configmaps.

I modified the code to support reading both configmaps and secrets from mounted volumes and also watch for changes to both of them. [

[2021-03-18 09:58] pgressa commented on #280
Hi @StephanePaulus, first of all huge thank you for taking this initiative and POC!

Yeah, this is definitely smth we do not support yet, I'll fix the guideline, thanks for this and sorry for misleading you.

That's good point and use case. Feel free to create PR and I can take it over if you like or I can provide you initial code review and you can finish the work yourselves.

Thanks again.

[2021-03-19 11:40] pgressa opened #283 "When there's service without endpoins the service discovery throws NPE"
[code]

[2021-03-23 12:11] StephanePaulus commented on #280
Hi @pgressa, please let me know if you feel like the PR is not what you were expecting. Maybe we can come up with a better solution. If you are waiting for me to fully complete the PR, with all test passing please let me know.

[2021-04-12 13:32] #267 closed

[2021-04-29 06:55] runarhk commented on #283
just experienced the same issue.

[2021-05-12 13:04] pgressa opened #296 "Deprecate in-house K8s client with the official K8s client"
- service discovery
- configuration discovery

[2021-05-19 12:29] rdesgroppes opened #302 "`kubernetes.client.read-idle-timeout` setting does not seem to be taken into account by `KubernetesConfigMapWatcher`"
### Steps to Reproduce

1. Observe that `KubernetesConfigMapWatcher` installed stream always times out after exactly 5 minutes without event:
[code]
2. Try setting `kubernetes.client.read-idle-timeout` to `0s` or a negative duration, in either `bootstrap.yml` or `application.yml`
3. Redeploy.

### Expected Behaviour

The `KubernetesConfigMapWatcher` installed stream doesn't time out.

### Actual B

[2021-05-24 06:51] bjor-joh opened #305 "Manual service configuration not read from boostrap.yml"
I'm trying to configure service discovery in kubernetes for a GRPC service.
The service I'm trying to discover is a multi-port service and is therefore in need of manual service confguration.
However, I cannot get micronaut to pick-up my service config.

I have followed the guide available [here](https://micronaut-projects.github.io/micronaut-kubernetes/latest/guide/index.html#_service_discovery_m

[2021-05-24 10:24] pgressa commented on #305
Yeah, seems like the manual configuration wasn't loaded at all otherwise the manual flag would be true. Please try to not use the list like:
[code]

[2021-05-24 14:06] bjor-joh commented on #305
Yeah now it's working and it's loading both endpoints. Thanks

However it only seems to send requests to one of them. I was under the impression the default behaviour should be to do round-robin load-balancing between the endpoints. Is there additional config needed for that?

[2021-05-24 14:40] pgressa commented on #305
yeah it should do round robin if there are more endpoints. try to configure logging to trace for `micronaut-kubernetes`.

[2021-05-24 14:41] pgressa commented on #305
and thanks I have to fix the documentation

[2021-05-28 13:48] bjor-joh commented on #305
Sorry for a slow reply.
So I tried to enable trace logging for Kubernetes and I can see this.

[code]

So it's discovering all instances. But I enabled debug logging for grpc as well and I can see logs like these
[code]

All the calls I do go towards the IP of a single instance, there are never any calls made towards the other.
So it doesn't seem like there is any load-balancing being performed. 🤔

[2021-06-09 18:49] David-16 commented on #209
@alvarosanchez I get that the number of underscores increases the number of possibilities by a power of 2 every time, but the worst offender in this case is `V1_SERVICE_XPTO_PORT_8080_TCP_ADDR` which has 6 underscores resulting in 64 possibilities of `-` and/or `.`

Assuming high water marks of 10 such properties for each service and 100 such services, this is 64,000

I think this count can be nai

[2021-06-10 09:26] pgressa commented on #305
By default all loadbalancers are RoundRobin kind. However based on the context of execution it may always start with fresh list of service instances. I'll try to look at this. Anyway, if you don't want to use client side loadbalancing, use the discovery mode Service -> https://micronaut-projects.github.io/micronaut-kubernetes/latest/guide/#service-discovery

[2021-06-10 09:27] pgressa commented on #305
Also if you could please open new issue regarding the load balancing. I'll close this one so as resolved. Just copy your comment into new issue I'll handle rest. Thanks!

[2021-06-10 15:31] StephanePaulus opened #315 "How to deal with mounted volumes with the same filename."
As far as I know the current Micronaut-Kubernetes integration cannot deal with reading/parsing configmaps/secrets from mounted-volumes that have the same name.

Example:
[code]
[code]
[code]

I don't think there is a way to deal with this issue.

`@Value("${username}")` will just return the data of the last one parsed. The same goes for configmaps. A proposed fix could be to include the folder of

[2021-06-10 18:54] #283 closed

[2021-06-11 09:00] pgressa commented on #280
Hi @StephanePaulus, first of sorry for being quite for some time. Once again thanks for the PR. I'd like to get beck to this feature now.

**To answer question #315:**
For the secrets case I think we could either add the file path or secret name as a prefixes of the variables, so for the secret :
[code]
and configuration
[code]

So the property source name would be then:
- file path `etc.example-s

[2021-06-11 09:42] StephanePaulus commented on #280
@pgressa yes sure you can take over. I could share the new code I have in a private repository, that already fixes some bad file watching stuff. Let me know if I can be of any assistance.

I think the namePrefix option is the cleanest.

[2021-06-14 16:10] pgressa commented on #280
I was thinking about deduplicating the code by providing more generic approach like:

[code]

* This approach brings certain level of extensibility by providing the type file resolver.

also @StephanePaulus if you could share the new code I would be glad for it. Thanks.

[2021-06-16 22:45] StephanePaulus commented on #280
@pgressa here you can find the updated code that worked good enough for me. It is not perfect, but it did the job. [code repo](https://github.com/StephanePaulus/mIcronaut-kubernetes-client)

Your approach looks very generic and will solve all issues I am trying to fix.

How kubernetes adds mounted files to the filesystem of a container is kind of tricky. When using the normal filewatcher you need

[2021-06-17 07:57] ilopmar opened #319 "Release a new version compatible with Micronaut 3.0"
Please follow the instructions in https://github.com/micronaut-projects/micronaut-core/issues/5607 and update that core issue with the information related to the upgrade.

[2021-06-17 09:42] pgressa opened #320 "Optimise the generated clients"
Currently the SdkProcessor generate factory classes for all clients:
[code]

This is quite ineffective so instead use the `@ApiClient` field or class annotation that will generate the factory class for annotated (in case of field annotation) or all clients found in the classes.

[2021-06-25 07:51] pgressa commented on #319
Blocked by https://github.com/micronaut-projects/micronaut-test/issues/435

[2021-07-01 07:59] StephanePaulus commented on #280
@pgressa Sorry to ask you, but do you have an idea when this feature/fix can be available?

[2021-07-16 14:25] Ksnz opened #323 "Fail-fast mechanism on missing pod-labels"
We are using pod-labels in our project to specify which config pod should use.
But when someone made a mistake and
`pod-labels` set up incorrectly the only thing we get is a log line made by
[code]
then `computePodLabelSelector` builds an empty string and our service tries to start with every config it have found in namespace.

I want some option like
[code]
causes throwing an exception in such si

[2021-07-16 14:45] Ksnz opened #324 "KubernetesConfigurationClient respecting ConfigMap file name and environment"
In current version of micronaut-kubernetes name of file in ConfigMap has no any effect on application.
I think it would be better if it works like configs in application resources with same naming rules: `application-<env>`
for example
[code]
would work only in `debug` environment
Because in current version `environment` parameter in
[code]
of `KubernetesConfigurationClient` is not used at all.

I

[2021-07-19 12:28] bjor-joh commented on #305
Thanks, yes we can close this.

[2021-07-19 12:28] #305 closed

[2021-08-15 10:44] #270 closed

[2021-08-18 05:36] #296 closed

[2021-08-18 08:51] pgressa commented on #173
Closing this issue as it is already fixed by using official K8s java sdk client.

[2021-08-18 08:51] #173 closed

[2021-08-18 10:56] #319 closed

[2021-08-18 13:37] pgressa opened #342 "Use interface for configuration properties"
### Feature description

Instead of using class, use interface. This was blocked due to https://github.com/micronaut-projects/micronaut-core/issues/5769

[2021-08-23 15:53] pgressa opened #346 "Integrate SharedInformer"
### Feature description

By making official k8s java sdk as a main k8s client, we can add integration of the Informer pattern that is part of the official library and thus allow users to easily create the informers and handle add/modified/deleted resources.

Informer - https://www.cncf.io/blog/2019/10/15/extend-kubernetes-via-a-shared-informer/

[2021-08-23 16:05] pgressa commented on #324
Hi @Ksnz ! Interesting idea though I wonder what would be the use case  apart dynamically creating CM with the debug environment (if the application was started with debug env). The environments are deduced on the ApplicationContext startup and rest of the beans are configured based on property sources loaded from the configuration file. Also the configuration files are part of the application bun

[2021-09-03 07:11] GavrilovSV commented on #323
I'd like to implement this feature

[2021-09-08 10:00] pgressa commented on #302
@rdesgroppes I'm closing this issue b/c since the v3 we use official k8s client and the configuration of the underlying OkHttpClient is configurable using bean listener:
[code]

[2021-09-08 10:00] #302 closed

[2021-09-09 08:53] #342 closed

[2021-09-21 11:00] #323 closed

[2021-09-21 14:41] pgressa opened #364 "Add support to load configmaps when mounted as a volume."
### Feature description

Add support to load configmaps when mounted as a volume similarly like it is for secrets.

[2021-09-21 14:51] pgressa commented on #280
@StephanePaulus sorry for the delay, I have extracted the loading of config maps mounted as volumes into this PR https://github.com/micronaut-projects/micronaut-kubernetes/pull/365. The hot reloading will be subject of some other PR in the future.

[2021-09-21 16:29] #364 closed

[2021-09-21 17:51] #346 closed

[2021-09-21 18:01] pgressa commented on #280
@StephanePaulus I have removed the part "Add support to load configmaps when mounted as a volume. " from the title, since that's is already merged.

[2021-10-11 15:26] rdesgroppes opened #374 "Micronaut Kubernetes 3.1.0 keeps watching expired configmaps (kubernetes-client/java#1628)"
### Expected Behavior

As per Kubernetes [Efficient detection of changes](https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes):

### Actual Behaviour

Probably because of kubernetes-client/java#1628, Micronaut Kubernetes 3.1.0 keeps reinstalling the watch on expired resource versions, leading to an infinite loop:
[code]

### Steps To Reproduce

Use Micronaut

[2021-10-22 11:22] #374 closed, assigned to nobody

[2021-11-03 16:24] pgressa opened #383 "Create RxJava3 kubernetes client"
### Title
create RxJava3 kubernetes clients

### Issue description
Create new module `kubernetes-client-rxjava3` that will use the `kubernetes-client-processer` to generate rxjava3 version of Kubernetes clients.

[2021-11-03 16:51] pgressa commented on #383
https://github.com/micronaut-projects/micronaut-starter/pull/954#pullrequestreview-796732947

[2021-11-15 14:02] #383 closed

[2021-11-15 14:04] pgressa commented on #315
While preparing for next major release, this issue should be discussed again since it will most probably require breaking change on how the secrets are processed.

[2021-11-26 18:08] pgressa opened #391 "When there are two informers for same resource type and namespace the latter does not receives events"
### Issue description

When there are two informers for same resource type and namespace the latter does not receives events

[2021-11-26 19:07] pgressa opened #392 "KubernetesConfigMapWatcher is started when config-client is disabled"
### Issue description

KubernetesConfigMapWatcher is started when config-client is disabled

[2021-11-29 08:15] #392 closed

[2021-11-29 08:15] #391 closed

[2022-01-17 10:37] #278 closed

[2022-01-26 11:22] #53 closed

[2022-02-11 11:18] dima-starosud opened #430 "Secrets with non-printable characters are not properly"
### Expected Behavior

All k8s secrets are properly base64-decoded on application side.

### Actual Behaviour

Some of the secrets (in particular `ZuD1WklPYQCr`) are corrupted when received by `@Value` inside the service.

### Steps To Reproduce

1. Add following k8s secret, note it contains non-printable characters, and on service side it's consumed as `byte[]`:
[code]
2. Use it in the service on

[2022-02-11 11:41] dmytrostarosud-globality commented on #430
I think this may also require enhancement request to `micronaut-core`.

[2022-02-22 12:44] sujeet100 opened #434 "Application fails to start on local when Kubernetes config is present in .kube directory"
### Expected Behavior

Hi people,
Recently we upgraded to the latest version of Micronuat Kubernetes and we are facing following error on startup in local environment
Note: For local environment we do not used kubernetes, however there is a config file in ~/.kube directory which causes micronaut to think that it's running in a Kubernetes environment.
Is there a way to disable this for local enviro

[2022-02-23 16:16] pgressa commented on #434
@sujeet100 you can disable the environment deduction: https://docs.micronaut.io/latest/guide/#environments

[2022-02-24 11:16] sujeet100 commented on #434
setting MICRONAUT_ENV_DEDUCTION = false did not fix the issue, still seeing the same exception.
The environment deduced is local only and does not include k8s.

`Established active environments: [local]`

[2022-02-24 12:00] alvarosanchez commented on #434
I think the problem is triggered by https://github.com/micronaut-projects/micronaut-kubernetes/blob/master/kubernetes-client/src/main/java/io/micronaut/kubernetes/client/ApiClientFactory.java#L84

As per their Javadoc:

[2022-02-28 17:41] sosguthorpe opened #435 "micronaut-kubernetes-informer prevents BeanCreatedEventListener<ApiClient> from firing"
### Expected Behavior

Implementation of BeanCreatedEventListener<ApiClient> should be called.

### Actual Behaviour

Implementation of BeanCreatedEventListener<ApiClient> seems to be ignored

### Steps To Reproduce

See: Example Application

Running ./gradlew check causes second test to fail.

Downgrading micronaut version to below 3.3.x (3.2.7) - Tests pass
Removing dependency on `io.micronaut.k

[2022-03-01 12:30] timyates commented on #435
Seems to be the `micronaut-kubernetes-informer:ResourceEventHandlerBeanListener` that is causing the issue...  Investigating...

[2022-03-02 13:38] #435 closed

[2022-03-11 17:36] melix opened #443 "BOM contains invalid entry"
### Expected Behavior

The BOM should only list valid dependencies.

### Actual Behaviour

The BOM currently contains the following entries:

[code]

Note the duplicate dependency, with the 2d one being invalid.

### Steps To Reproduce

_No response_

### Environment Information

_No response_

### Example Application

_No response_

### Version

3.3.0

[2022-03-11 17:44] timyates opened #442 "Move examples to guides"
### Issue description

We should remove the examples from here, after we have captured them as guides

[2022-03-14 09:33] alvarosanchez commented on #442
Note the examples are really test applications, with tests that are part of the whole module build

[2022-03-14 09:37] timyates commented on #442
@alvarosanchez Good call... Maybe just `micronaut-kubernetes-client` as it has no tests...

Or maybe we should just add tests...  @sdelamo what's the thinking here?  Just examples with no tests?

[2022-03-14 16:43] timyates commented on #442
I see now after looking deeper...these examples are used in the tests as Pods 👍

[2022-03-15 07:02] #443 closed

[2022-03-15 08:17] sdelamo commented on #442
@timyates lets leave the examles in the repository fi they are are used for tests but pelase create issues in the guides repository to create guides. We don't have any K8s guides yet.

[2022-03-15 08:17] #442 closed

[2022-03-15 09:22] timyates commented on #442
@sdelamo raised https://github.com/micronaut-projects/micronaut-guides/issues/846 and assigned it to me

[2022-03-17 13:46] zoltan-toth-mw opened #456 "Kubernetes ConfigMap with single key value should not be parsed as a file reference"
### Expected Behavior

I created a config map with a single key value: "datasources.default.url=jdbc:postgresql://...."
[code]

I'd expect that "datasources.default.url" property will be available in the application, but it is not.

### Actual Behaviour

KubernetesUtils decides that this is not a map of key values but a "single file???"

[code]

 data.size() > 1 will be false and getExtension will

[2022-03-29 10:36] sujeet100 commented on #434
@pgressa any updated on this issue?

[2022-03-29 10:46] alvarosanchez commented on #434
So one thing that could be done is to add an opt-out property, something like `kubernetes.client.enabled`, which would default to `true` but that you could set to `false` when running locally.

[2022-04-19 13:27] zoltan-toth-mw opened #473 "DefaultNamespaceResolver resolver runs in non k8s environments"
### Expected Behavior

DefaultNamespaceResolver is not trying to resolve the k8s namespace when not in k8s environment.

### Actual Behaviour

DefaultNamespaceResolver tries to resolve the k8s namespace in a **non** k8s environment.

### Steps To Reproduce

Add this to the pom.xml
[code]

Start the application in a non k8s environment in example locally or set the environment to "local".

When the

[2022-04-25 06:24] sujeet100 commented on #434
@alvarosanchez can we annotate clientBuilder singleton https://github.com/micronaut-projects/micronaut-kubernetes/blob/56c0ad7614ccbb0163448af02060023a58fd9cf8/kubernetes-client/src/main/java/io/micronaut/kubernetes/client/ApiClientFactory.java#L65
with @Requires(env = Environment.KUBERNETES)

[2022-04-25 07:32] alvarosanchez commented on #434
The annotation should go to the factory class instead. I would do the job, yes, but feels to me like a breaking change.

[2022-05-02 10:39] renovate[bot] opened #475 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): update dependency ch.qos.logback:logback-classic to v1.2.11
 - [ ] chore(deps): update dependency io.reactivex.rxjava3:rxjava to v3

[2022-05-04 08:29] Ksnz opened #479 "ConfigMapLabelSupplier tries to initialize when eagerInitSingletons property is set to true"
### Expected Behavior

`ConfigMapLabelSupplier` shouldn't be initialized when it's not a k8s environment

### Actual Behaviour

`ConfigMapLabelSupplier` still tries to initialize in not k8s environment when eagerInitSingletons property is set to true because there is no any `@Requires` condition for that bean

### Steps To Reproduce

Add `implementation("io.micronaut.kubernetes:micronaut-kubernete

[2022-05-04 08:32] graemerocher commented on #479
Seems like an easy fix and just adding https://github.com/micronaut-projects/micronaut-kubernetes/blob/21219be67b20c07dde522d3fc75cbf99de2a448a/kubernetes-discovery-client/src/main/java/io/micronaut/kubernetes/configuration/KubernetesConfigMapWatcher.java#L54 to the type.

Want to send a PR?

[2022-05-04 08:35] Ksnz commented on #479
I'll try :)

[2022-05-04 09:18] Ksnz commented on #479
@graemerocher could you approve PR workflows?

[2022-05-24 07:46] #479 closed

[2022-06-06 12:32] sdelamo opened #502 "Consider supporting Java Operator SDK"
### Feature description

see: https://javaoperatorsdk.io

[2022-07-14 11:23] justDo1T opened #504 "[Security vulnerability] Update dependency Kubernetes Java Client to v16"
Please update Kubernetes Java Client to version 16.0.0 which underneath uses GSON in version 2.9.0.
Currently used Kubernetes Java Client in version 13.0.1 has dependendy GSON in version 2.8.7 which has a [security vulnerability](https://www.mend.io/vulnerability-database/CVE-2022-25647).

To fix this vulnerability we need GSON at least in version 2.8.9, so updating Kubernetes Java Client solves t

[2022-07-15 06:55] sdelamo commented on #504
@timyates can you check why the associated PR is failing. Also, check the other Prs, they are all failing.

[2022-08-15 18:58] mborst opened #508 "Not possible to use namespaceSupplier without namespace on @Informer with DefaultInformerNamespaceResolver"
### Expected Behavior

I would like to specify a `namespacesSupplier` as the only source of a namespace that an `@Informer` uses for watching with the current `DefaultInformerNamespaceResolver`.

### Actual Behaviour

The current logic of `DefaultInformerNamespaceResolver` does always add the literal string `RESOLVE_AUTOMATICALLY` as an actual namespace if only `namespaceSupplier` is provided, and

[2022-10-07 09:01] matt-snider commented on #434
I ran into this issue in a GitLab CI Pipeline test stage. Locally `gradle test` works but in the CI pipeline it seems to detect the Kubernetes environment and this bean gets loaded.

Disabling `MICRONAUT_ENV_DEDUCTION` did not help.

I took a look at the dependency path and saw that [the ApiClient bean](https://github.com/micronaut-projects/micronaut-kubernetes/blob/8904805316d398baac8d865aa7ab2ac

[2022-10-14 15:06] sdelamo opened #517 "Broken Build in branch targeting Micronaut Framework 3.x"
### Issue description

Steps to reproduce:

[code]

I get 19 broken tests:

https://ge.micronaut.io/s/fb377tgk6zcpu

Moreover, the build is still using Micronaut Framework 3.3.4. We should make sure it builds correctly with 3.7.x

[2022-10-19 11:52] GavrilovSV commented on #479
@alvarosanchez
Could you please release the new version of `micronaut-kubernetes` to make this fix available? The latest release was in march